{% extends "base.html" %}

{% block title %}Edit Comment - SkyHub{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Comment</h2>
    <form method="POST" action="">  <!-- updates data-->
        {{ form.hidden_tag() }}   <!-- hidden fields for protection -->

        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=4) }}
            {% for e in form.content.errors %}
                <div class="text-danger small">{{ e }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Update Comment</button>
        <a href="{{ url_for('post_detail', post_id=comment.post_id) }}" class="btn btn-secondary">Cancel</a>
        <!-- if cancel, it will rediirects back to the post detail page without saving -->
    </form>
</div>
{% endblock %}
